/*
 * @Author: dincoln 
 * @Date: 2018-08-15 15:54:25 
 * @Last Modified by: dincoln
 * @Last Modified time: 2018-08-15 16:47:17
 */

// $blue: #ff4930;  //theme颜色
// $bc: #fff; //背景颜色
// $fc:#666; //默认字体颜色

//--- rem
// $rem-baseline: 64px !default;
// $rem-baseline: 20px !default;
// $rem-fallback: true !default;
// $rem-px-only: false !default;

// $main-width: 1180px !default;
// $main-width: 1226px !default;
// $side-width: 300px !default;
// $widget-width: 240px !default;

// $hover-tint-percent: 20% !default;
// $active-shade-percent: 10% !default;

//--- 颜色
$color-white: #fff !default;
$color-black: #000 !default;
$color-gray: #909090 !default;

$color-primary: #fd4930 !default; //主色
$color-success: #00cc4e !default; //成功色
$color-danger: #e8c84d !default; //危险色
$color-error: #ff5543 !default; //失败色
$color-warn: #e6a23c !default; //警告色
$color-info: #687786 !default; //信息色
$color-smoke: #f5f5f5 !default;//灰白色


//--- 文字颜色
$color-text-primary: #000 !default;
$color-text-regular: #666 !default;
$color-text-secondary: #909090 !default;
$color-text-placeholder: #ccc !default;
$color-text-hover: $color-primary !default;

$color-text-link: #cbcbcb !default;
$color-text-link-hover: $color-primary !default;

// --- icons 颜色
$color-icons-link: $color-text-regular !default;
$color-icons-link-active: $color-primary !default;

//--- 边框色
$color-border-regular: #e5e5e5 !default;
$color-border-secondary: #ececec !default;
$color-border-hover: $color-text-placeholder;

//--- 背景色
$color-backcolor: #f5f5f5 !default; //背景色
$color-forecolor: #f7f8fa !default; //前景色
$color-maincolor: #ffffff !default; //主体色

//--- 过渡效果
$trans-switch: true !default;
$trans-property: all !default;
$trans-duration: 200ms !default;
$trans-effect: ease !default;
$trans-delay: 0 !default;
//--- Animation
$animation-duration: 300ms !default;
$animation-effect: ease-in-out !default;

//--- 补白
$margin: 15px !default;
$margin-small: 10px !default;
$margin-large: 20px !default;
//--- 圆角
$radius: 2px !default;
$radius-small: 1px !default;
//--- 行高
$line-height: 1 !default;

//--- 字体大小
$font-size-base: 12px !default;
$font-size-mini: 10px !default;
$font-size-small: 11px !default;
$font-size-large: 14px !default;
$font-size-bigger: 16px !default;
$font-size-biggest: 20px !default;

//--- 字体
$font-family-sans-serif: Helvetica, SimSun, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-simsun: "SimSun", "Arial", "\5b8b\4f53", $font-family-sans-serif !default;
$font-family-yahei: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", $font-family-sans-serif !default;
$font-family-base: $font-family-yahei, $font-family-sans-serif !default;
